<div class="container">
<div class="senior-container">
  <h1>
    le <%=@booking.datetime.strftime("%B %d, %Y at %I:%M %p")%>
    entre <%=@senior.name%> et <%=@booking.user.email%>
  </h1>

  <h2>
      au <%= @senior.address %>, à <%= @senior.city %>
  </h2>

  <p>Passion de <%=@senior.name%>: <%=@senior.key_skill%></p>

  <% if @senior.photo.present? %>
    <%= cl_image_tag @senior.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <p>No photo available</p>
  <% end %>

  <div>
  <h3>Statut du rendez-vous : <%=@booking.status%></h3>
    <div>
    <% if current_user == @booking.senior.user %>
    <%= link_to "Confirmer/annuler le rendez-vous", edit_senior_booking_path(@booking.senior, @booking), class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>




<div class="retour">
<%= link_to "Retour", dashboard_path%>
 </div>
  </div>
 </div>
