
<!-- Seniors Section -->
<div class="container">

<!-- Upcoming Bookings Section -->
<div class="container">
  <h2>Mes rendez vous</h2>
<div>
  <h3>Mes rendez-vous à confirmer</h3>
  <ul>
    <% @bookings_to_be_confirmed.each do |booking| %>
      <li>
      <%= link_to "#{booking.datetime.strftime("%B %d, %Y at %I:%M %p")} avec #{booking.senior.name} à #{booking.senior.city}, #{booking.senior.address}", senior_booking_path(booking.senior, booking) %> ||
      <%=booking.status%>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <h3>Mes rendez-vous prévus</h3>
  <ul>
    <% @bookings_accepted.each do |booking| %>
      <li>
      <%= link_to "#{booking.datetime.strftime("%B %d, %Y at %I:%M %p")} avec #{booking.senior.name} a #{booking.senior.city}, #{booking.senior.address}", senior_booking_path(booking.senior, booking) %> ||
      <%=booking.status%>
      </li>
    <% end %>
  </ul>
</div>


<!-- my Seniors Section -->
<h2>Mes seniors</h2>
  <div class="row">
    <% @seniors.each do |senior| %>
      <div class="card-dashboard">
        <%= link_to senior_path(senior), class: "card-dashboard-link" do %>
          <% if senior.photo.attached? %>
            <img src="<%= senior.photo.url %>" alt="<%= senior.name %>'s photo">
          <% else %>
            <img src="https://via.placeholder.com/150" alt="Default Senior Image">
          <% end %>
          <div class="card-dashboard-infos">
            <h2><%= senior.name %></h2>
            <p><strong>Age:</strong> <%= senior.age %></p>
            <p><strong>City:</strong> <%= senior.city %></p>
            <p><strong>Skill:</strong> <%= senior.key_skill %></p>
             <p>Rendez-vous à valider</p>
            <ul>
            <% senior.bookings.where(status: "à confirmer").each do |booking|%>
              <li><%=booking.datetime.strftime("%B %d, %Y at %I:%M %p")%> avec <%=booking.user.email%> - <%=link_to "Confirmer", senior_booking_path(booking.senior, booking) %></li>
            <% end %>
            </ul>
            <p>Rendez-vous à venir</p>
            <ul>
            <%senior.bookings.where(status: "Confirmé").each do |booking|%>
              <li><%=booking.datetime.strftime("%B %d, %Y at %I:%M %p")%> avec <%=booking.user.email%></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>

<!-- Navigation Link -->
<div class="container dashboard-link">
  <%= link_to "Retour aux seniors", seniors_path, class: "btn btn-primary" %>
</div>

<!-- Extra spacing -->
<div style="height: 300px;"></div>
