
<!-- Seniors Section -->
<div class="container">
  <h2>Mes seniors</h2>
  <div class="row">
    <% @seniors.each do |senior| %>
      <div class="card-dashboard">
        <%= link_to senior_path(senior), class: "card-dashboard-link" do %>
          <% if senior.photo.attached? %>
            <img src="<%= senior.photo.url %>" alt="<%= senior.name %>'s photo">
          <% else %>
            <img src="https://via.placeholder.com/150" alt="Default Senior Image">
          <% end %>
          <div class="card-dashboard-infos">
            <h2><%= senior.name %></h2>
            <p><strong>Age:</strong> <%= senior.age %></p>
            <p><strong>City:</strong> <%= senior.city %></p>
            <p><strong>Skill:</strong> <%= senior.key_skill %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Upcoming Bookings Section -->
<div class="container">
  <h2>Mes réservations</h2>
  <ul>
    <% @bookings.each do |booking| %>
      <li><%= booking.datetime.strftime("%B %d, %Y at %I:%M %p") %></li>
    <% end %>
  </ul>
</div>

<!-- Navigation Link -->
<div class="container dashboard-link">
  <%= link_to "Retour aux seniors", seniors_path, class: "btn btn-primary" %>
</div>

<!-- Extra spacing -->
<div style="height: 300px;"></div>
