
<!-- Seniors Section -->
<div class="container">

<!-- Upcoming Bookings Section -->
<div class="container">
  <h2>Mes rendez vous</h2>
<div>
  <h3>Mes rendez-vous prévus</h3>
    <div class="row-mybookings">

        <% @bookings_accepted.each do |booking| %>
          <div class="card-dashboard">
            <img src="<%= booking.senior.photo.url %>" class="card-dashboard" alt="<%= booking.senior.name %>'s photo">
            <%= link_to "#{booking.datetime.strftime("Le %d/%m/%Y à %IH%M")} avec #{booking.senior.name} à #{booking.senior.city}, #{booking.senior.address}", senior_booking_path(booking.senior, booking) %>
          </div>
        <% end %>

    </div>
  </div>
   <h3>Mes rendez-vous à confirmer</h3>
  <div class="row-mybookings">
    <div class="card-dashboard">
      <% @bookings_to_be_confirmed.each do |booking| %>

        <%= link_to "#{booking.datetime.strftime("Le %d/%m/%Y à %IH%M")} avec #{booking.senior.name} à #{booking.senior.city}, #{booking.senior.address}", senior_booking_path(booking.senior, booking) %>

      <% end %>
    </div>
  </div>
  <div>
  <div height=20px></div>
</div>


<!-- my Seniors Section -->
<h2>Mes seniors</h2>

    <% @seniors.each do |senior| %>
      <div class="card-mysenior-dashboard">
        <div class="card-mysenior-dashboard-first-col">
          <%= link_to senior_path(senior) do %>
            <% if senior.photo.attached? %>
              <img src="<%= senior.photo.url %>" class="card-mysenior-dashboard-first-col-img" alt="<%= senior.name %>'s photo">
            <% else %>
              <img src="https://via.placeholder.com/150" alt="Default Senior Image">
            <% end %>
          <%end%>
        </div>
          <div class="card-mysenior-dashboard-second-col">
            <h2><strong><%= senior.name %></strong></h2>
            <p><strong>Age:</strong> <%= senior.age %></p>
            <p><strong>City:</strong> <%= senior.city %></p>
            <p><strong>Skill:</strong> <%= senior.key_skill %></p>
          </div>
          <div class="card-mysenior-dashboard-third-col">
             <h2>Rendez-vous à valider</h2>
            <ul>
              <%sbac = senior.bookings.where(status: "à confirmer").where("datetime > ?", Time.now) %>
              <% if sbac.count == 0%>
                 <p>Pas de rendez vous à confirmer</p>
              <% else%>
                <% sbac.each do |booking|%>
                 <li><%=booking.datetime.strftime("%B %d, %Y at %I:%M %p")%> avec <%=booking.user.email%> - <%=link_to "Confirmer", senior_booking_path(booking.senior, booking), class:"btn-primary" %></li>
                <% end %>
              <%end%>
            </ul>
            <h2>Rendez-vous à venir</h2>
            <ul>
              <%sbav = senior.bookings.where(status: "Confirmé").where("datetime > ?", Time.now) %>
              <% if sbav.count == 0%>
                <p>Pas de rendez vous à venir</p>
              <% else%>
                <%sbav.each do |booking|%>
                  <li><%=booking.datetime.strftime("%B %d, %Y at %I:%M %p")%> avec <%=booking.user.email%></li>
                <% end %>
              <% end %>
            </ul>
          </div>

        </div>

    <% end %>
       <div class="card-mysenior-dashboard">
        <%= link_to new_senior_path, class: "card-mysenior-dashboard-link" do %>
            <img src="app/assets/images/nouveausenior.png" alt="Default Senior Image">
             <div class="card-dashboard-infos">
            <h2>Add a new relative</h2>
            <p><strong>create a new one</strong> </p>

          </div>
        <% end %>
      </div>
  </div>
</div>
</div>



<!-- Extra spacing -->
<div style="height: 300px;"></div>
