<h1>hello from edit</h1>
<div>
<%= simple_form_for @senior do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :address %>
  <%= f.input :key_skill %>
  <%= f.button :submit %>
<% end %>
</div>

<div><%= link_to "Back to Results", senior_path(params[:id])%></div>
