<h1>hello from new senior</h1>

<%= simple_form_for @senior do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :address %>
  <%= f.input :key_skill %>
  <%= f.button :submit %>
<% end %>
