<div class=container>


<div class="auth-container">
  <h2>Inscription</h2>
  <h3>Bienvenue sur Grandbnb</h3>

  <div class="auth-form">

<%= simple_form_for @senior do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :key_skill %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

  </div>

<div class="retour">
<%= link_to "Cancel", seniors_path%>
</div>

  </div>
  <div style="height: 300px">
</div>

</div>
