<div class="container">
  <h1>
    <%=@senior.name%> - <%=@senior.age%> - <%= @senior.key_skill %>
  </h1>

<div class="container">
  <%= simple_form_for [@senior, @booking] do |f| %>
   <%= f.input :date %>
  <%= f.submit "Book a date", class: "btn btn-primary" %>
<% end %>
</div>

<%= link_to "Back to Results", seniors_path%>
</div>
