
<div class="container">
  <h1>
    <%=@senior.name%> - <%=@senior.age%> - <%= @senior.key_skill %>
  </h1>
  <%= simple_form_for [@senior, @booking] do |f| %>
   <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit "Book a date", class: "btn btn-primary" %>
<% end %>
<div class="retour">
<%= link_to "Retour aux résultats", seniors_path%>
</div>
</div>
